[Unit]
Description=Journal tail on console
#Documentation=man:journalctl(1)
DefaultDependencies=no
Requires=systemd-journald.service
After=systemd-journald.service
Before=sysinit.target
ConditionPathExists=/dev/console

[Service]
ExecStart=/bin/sh -c "exec /bin/journalctl -af > /dev/console"
Type=simple
Restart=always
RestartSec=1
KillMode=process
IgnoreSIGPIPE=no

# Unset locale for the console getty since the console has problems
# displaying some internationalized messages.
Environment=LANG= LANGUAGE= LC_CTYPE= LC_NUMERIC= LC_TIME= LC_COLLATE= LC_MONETARY= LC_MESSAGES= LC_PAPER= LC_NAME= LC_ADDRESS= LC_TELEPHONE= LC_MEASUREMENT= LC_IDENTIFICAT
ION=

[Install]
WantedBy=basic.target
